$black: #000;
$white: #fff;
$grey: #eaeaea;
$blue: #136DA5;
$border-color: #e7e7e7;


body {
    background-color: $grey;
}


#wrapper{
    .navbar-default{

    }
}


#page-wrapper{

    h1{
        color:$blue;
    }

    table{
        border: 1px solid $border-color;

        tr {
            height:50px;
        }
    }

}

#side-menu{
    li{
        a {
            background-color:$grey;
            color:$blue;
            -webkit-transition: background-color 2s;
            -moz-transition: background-color 1s;
            -o-transition: background-color 1s;
            transition: background-color 2s;
        }

        a:hover {
            background-color:$blue;
            color:$grey;
        }
    }


}
