$black: #000;
$white: #fff;
$grey: #eaeaea;
$blue: #136DA5;
$border-color: #e7e7e7;

//General

*{
    box-sizing: border-box;
}


body{

}


h1 {
    color:$blue;
}

.btn-add {
    color:$white;
    background-color:$blue;
    transition: 0.5s ease-in;
    border-radius:0;

    margin-top:20px;

    a {
        color:$white;
        text-decoration: none;
    }
}

.btn-add:hover {
    background-color:white;
    border:1px solid $blue;
    color:$blue;

    a {
        text-decoration:none;
        color:$blue;
    }
}

#create, #tags, #analytics, #illustrations {
    margin-top:30px;
}

//Admin-template

#sidebar {
    background-color:$grey;
    position: fixed;
    height:100%;
    top:0;
    left:0;
    padding:0;

    li {
        color:$blue;

        :hover {
            background-color: $blue;
            color:$white;
            transition:1s ease;
        }

        a {
            color:$blue;
        }
    }



    .sidebar-greeting {
        padding:15px 0 15px 0;
        //color:$white;
        //background-color:$blue;
        text-align: center;

        .sidebar-avatar {
            width:50px;
            max-width: 50px;
            height: 50px;
            max-height: 50px;
            margin-bottom:15px;
        }
    }



}

.submenu {
    list-style: none;
    text-align: right;
    padding: 7px 5px 7px 0;

}


// illustrations

#illustrations {

    table {
        margin-top:20px;
        border:1px solid $black;

        thead {

            tr {

                th {
                    text-align:center;
                    width:250px;
                    padding:10px;
                }
            }
        }

        tbody{

            tr {

                th {
                    text-align:center;
                    width:250px;
                    padding:10px;

                    .overview-resize {
                        max-width:50px;
                        width:50px;
                        height:50px;
                        max-height:50px;
                    }
                }
            }
        }
    }
}


//Create/edit illustration page

#create {
    text-align:center;

    input {
        margin:0 auto;
        width:300px;
    }

    .edit-resize {
        width:100px;
        max-width:100px;
        height:100px;
        max-height:100px;
    }

    .btn-add {
        display:block;
        margin-top:50px;
    }


    .tags {
        width:300px;
    }

    .icon-back {
        height:34px;
        font-size:24px;
        padding:5px;
        width:300px;
        background-color: $blue;
        margin-top:10px;
        color:$white;
        transition:1s ease-in;
    }

    .icon-back:hover {
        color:$blue;
        background-color: $white;
        border:1px solid $blue;
        transition:0.5s ease-in;

    }

}

//home-page
#home {

    h3 {
        color:$blue;
    }

    ul {
        list-style-type: none;

        li {
            text-align:left;
        }
    }

    .box {
        height:250px;
        background-color: $blue;
        color:$white;
        margin-bottom:10px;
    }
}


//tags

#tags {
    .taglist {
        margin-top:20px;

        .taglist-tag {
            margin-bottom:10px;
            padding:30px 0 30px 0;
            border:2px solid $blue;
            color:$blue;
            background-color: $white;

            .taglist-tag-left {
                text-align: center;
            }

            .taglist-tag-right {
                position:absolute;
                right:27px;
                top:8px;
            }

            span {
                margin-left:10px;
            }

            .fa {
            }
        }
    }
    .btn-add {
        margin-top:25px;
    }

}
